/* Common */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Mixins */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.row.align-center {
  justify-content: center;
}

.col-xs-1 {
  width: 8.3333333333%;
  padding: 0 15px;
}

.col-xs-2 {
  width: 16.6666666667%;
  padding: 0 15px;
}

.col-xs-3 {
  width: 25%;
  padding: 0 15px;
}

.col-xs-4 {
  width: 33.3333333333%;
  padding: 0 15px;
}

.col-xs-5 {
  width: 41.6666666667%;
  padding: 0 15px;
}

.col-xs-6 {
  width: 50%;
  padding: 0 15px;
}

.col-xs-7 {
  width: 58.3333333333%;
  padding: 0 15px;
}

.col-xs-8 {
  width: 66.6666666667%;
  padding: 0 15px;
}

.col-xs-9 {
  width: 75%;
  padding: 0 15px;
}

.col-xs-10 {
  width: 83.3333333333%;
  padding: 0 15px;
}

.col-xs-11 {
  width: 91.6666666667%;
  padding: 0 15px;
}

.col-xs-12 {
  width: 100%;
  padding: 0 15px;
}

@media (min-width: 600px) {
  .col-sm-1 {
    width: 8.3333333333%;
    padding: 0 15px;
  }

  .col-sm-2 {
    width: 16.6666666667%;
    padding: 0 15px;
  }

  .col-sm-3 {
    width: 25%;
    padding: 0 15px;
  }

  .col-sm-4 {
    width: 33.3333333333%;
    padding: 0 15px;
  }

  .col-sm-5 {
    width: 41.6666666667%;
    padding: 0 15px;
  }

  .col-sm-6 {
    width: 50%;
    padding: 0 15px;
  }

  .col-sm-7 {
    width: 58.3333333333%;
    padding: 0 15px;
  }

  .col-sm-8 {
    width: 66.6666666667%;
    padding: 0 15px;
  }

  .col-sm-9 {
    width: 75%;
    padding: 0 15px;
  }

  .col-sm-10 {
    width: 83.3333333333%;
    padding: 0 15px;
  }

  .col-sm-11 {
    width: 91.6666666667%;
    padding: 0 15px;
  }

  .col-sm-12 {
    width: 100%;
    padding: 0 15px;
  }
}
@media (min-width: 900px) {
  .col-md-1 {
    width: 8.3333333333%;
    padding: 0 15px;
  }

  .col-md-2 {
    width: 16.6666666667%;
    padding: 0 15px;
  }

  .col-md-3 {
    width: 25%;
    padding: 0 15px;
  }

  .col-md-4 {
    width: 33.3333333333%;
    padding: 0 15px;
  }

  .col-md-5 {
    width: 41.6666666667%;
    padding: 0 15px;
  }

  .col-md-6 {
    width: 50%;
    padding: 0 15px;
  }

  .col-md-7 {
    width: 58.3333333333%;
    padding: 0 15px;
  }

  .col-md-8 {
    width: 66.6666666667%;
    padding: 0 15px;
  }

  .col-md-9 {
    width: 75%;
    padding: 0 15px;
  }

  .col-md-10 {
    width: 83.3333333333%;
    padding: 0 15px;
  }

  .col-md-11 {
    width: 91.6666666667%;
    padding: 0 15px;
  }

  .col-md-12 {
    width: 100%;
    padding: 0 15px;
  }
}
@media (min-width: 1200px) {
  .col-lg-1 {
    width: 8.3333333333%;
    padding: 0 15px;
  }

  .col-lg-2 {
    width: 16.6666666667%;
    padding: 0 15px;
  }

  .col-lg-3 {
    width: 25%;
    padding: 0 15px;
  }

  .col-lg-4 {
    width: 33.3333333333%;
    padding: 0 15px;
  }

  .col-lg-5 {
    width: 41.6666666667%;
    padding: 0 15px;
  }

  .col-lg-6 {
    width: 50%;
    padding: 0 15px;
  }

  .col-lg-7 {
    width: 58.3333333333%;
    padding: 0 15px;
  }

  .col-lg-8 {
    width: 66.6666666667%;
    padding: 0 15px;
  }

  .col-lg-9 {
    width: 75%;
    padding: 0 15px;
  }

  .col-lg-10 {
    width: 83.3333333333%;
    padding: 0 15px;
  }

  .col-lg-11 {
    width: 91.6666666667%;
    padding: 0 15px;
  }

  .col-lg-12 {
    width: 100%;
    padding: 0 15px;
  }
}
@media (min-width: 1800px) {
  .col-xl-1 {
    width: 8.3333333333%;
    padding: 0 15px;
  }

  .col-xl-2 {
    width: 16.6666666667%;
    padding: 0 15px;
  }

  .col-xl-3 {
    width: 25%;
    padding: 0 15px;
  }

  .col-xl-4 {
    width: 33.3333333333%;
    padding: 0 15px;
  }

  .col-xl-5 {
    width: 41.6666666667%;
    padding: 0 15px;
  }

  .col-xl-6 {
    width: 50%;
    padding: 0 15px;
  }

  .col-xl-7 {
    width: 58.3333333333%;
    padding: 0 15px;
  }

  .col-xl-8 {
    width: 66.6666666667%;
    padding: 0 15px;
  }

  .col-xl-9 {
    width: 75%;
    padding: 0 15px;
  }

  .col-xl-10 {
    width: 83.3333333333%;
    padding: 0 15px;
  }

  .col-xl-11 {
    width: 91.6666666667%;
    padding: 0 15px;
  }

  .col-xl-12 {
    width: 100%;
    padding: 0 15px;
  }
}
/* Components */
.text-btn {
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.btn-orange {
  border: none;
  color: #fe5303;
  overflow: hidden;
  margin: 1rem;
  padding: 0;
  text-transform: uppercase;
  width: 200px;
  height: 50px;
  border-radius: 32px;
  float: right;
}

.blog-button {
  background-color: #fe5303;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Poppins;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 24px;
}

.btn-chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  z-index: 9999;
  text-align: center;
}

.btn-chat:before {
  content: "";
  width: 50px;
  height: 50px;
  background-color: white;
  position: absolute;
  border-radius: 100%;
  box-shadow: 0 64px 64px 0 rgba(44, 63, 88, 0.05), 0 0 32px 0 rgba(44, 63, 88, 0.05), 0 16px 16px 0 rgba(44, 63, 88, 0.03), 0 8px 8px 0 rgba(44, 63, 88, 0.03), 0 4px 4px 0 rgba(44, 63, 88, 0.03), 0 2px 2px 0 rgba(44, 63, 88, 0.04);
  z-index: 1;
  top: 0;
  left: 0;
}

.btn-chat i {
  vertical-align: middle;
  z-index: 2;
  position: relative;
  width: 34px;
  height: 34px;
  color: #fe5303;
  padding: 8px;
}

.media img {
  width: 100%;
  display: block;
}
.media.media--video {
  position: relative;
}
.media.media--large {
  width: 100%;
}

h1 {
  font-family: PlayFairDisplay;
  font-size: 3rem;
  font-weight: bold;
  color: #2c3f58;
}

.h1-center {
  font-family: PlayFairDisplay;
  font-size: 3rem;
  font-weight: bold;
  color: #2c3f58;
  text-align: center;
}

.h1-big {
  font-family: PlayFairDisplay;
  font-size: 4rem;
  font-weight: bold;
  color: #2c3f58;
}

h2 {
  font-family: PlayFairDisplay;
  font-size: 2rem;
  color: #2c3f58;
}

.h2-light {
  font-family: PlayFairDisplay;
  font-size: 2rem;
  color: #2c3f58;
  font-weight: lighter;
}

.h2-mid {
  font-family: PlayFairDisplay;
  font-size: 1.5rem;
  color: #2c3f58;
}

.h2-mid-2 {
  font-family: PlayFairDisplay;
  font-size: 1.5rem;
  color: #2c3f58;
}

.h2-96 {
  font-family: PlayFairDisplay;
  font-size: 6rem;
  color: #2c3f58;
}

.h2-center {
  font-family: PlayFairDisplay;
  font-size: 2rem;
  color: #2c3f58;
  text-align: center;
}

.h2-center-48 {
  font-family: PlayFairDisplay;
  font-size: 3rem;
  color: #2c3f58;
  text-align: center;
}

.p-14px {
  font-family: Poppins;
  font-size: 14px;
  color: #2c3f58;
}

.p-14px-gris {
  font-family: Poppins;
  font-size: 14px;
  color: #72809d;
}

.p-desc {
  color: rgba(44, 63, 88, 0.8);
  font-family: Poppins;
  font-size: 1rem;
}

p {
  font-family: Poppins;
  font-size: 1rem;
  color: #72809d;
  /* rgba(44, 63, 88, 0.8); */
  font-weight: 100;
  font-style: normal;
  line-height: 1.8;
}

.p-mid {
  font-family: PlayFairDisplay;
  font-size: 1.5rem;
  color: #2c3f58;
  font-weight: bold;
}

.p-verybig {
  font-size: 15rem;
  font-family: Poppins;
  color: #6d6363;
  margin: 0 auto;
}

.p-justify {
  font-family: Poppins;
  font-size: 1rem;
  color: #72809d;
  /* rgba(44, 63, 88, 0.8); */
  font-weight: normal;
  font-style: normal;
  line-height: 1.8;
  text-align: justify;
}

.p-maj {
  font-family: Poppins;
  font-size: 1rem;
  color: #a9acb5;
  /* rgba(44, 63, 88, 0.8); */
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
}

.p-gris {
  font-family: Poppins;
  font-size: 1rem;
  color: rgba(44, 63, 88, 0.8);
  /* #a9acb5; */
  font-weight: normal;
  font-style: normal;
}

.p-gris-center {
  font-family: Poppins;
  font-size: 1rem;
  color: #a9acb5;
  /* rgba(44, 63, 88, 0.8); */
  font-weight: normal;
  font-style: normal;
  text-align: center;
}

.p-12 {
  font-family: Poppins;
  font-size: 12px;
  color: #a9acb5;
}

.p-12-bold {
  font-family: Poppins;
  font-size: 12px;
  color: #a9acb5;
  font-weight: 600;
}

.space-5 {
  padding-top: 5%;
}

.space-2 {
  padding-top: 2%;
}

.lead {
  font-family: Poppins;
  font-size: 1.125rem;
  color: #2c3f58;
  font-weight: 500;
}

.blockquote {
  font-family: PlayfairDisplay;
  font-size: 1.5rem;
  color: #2c3f58;
}

.blockquote-author {
  font-family: Poppins;
  font-size: 1.125rem;
  color: #72809d;
  font-weight: lighter;
}

.article-meta span {
  font-family: Poppins;
  font-size: 1rem;
  color: #a9acb5;
  text-align: center;
}

.article-meta h2 {
  font-family: PlayFairDisplay;
  font-size: 2rem;
  font-weight: bold;
  color: #2c3f58;
  padding-left: 20%;
  padding-right: 20%;
}

.button-rond {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
  background-color: #fe5303;
  text-align: center;
  margin: 0 auto;
}

.btn-bottom i {
  color: white;
  padding: 15px;
}

.article-meta {
  font-family: Poppins;
  font-size: 1rem;
  color: #a9acb5;
  text-align: center;
  text-transform: uppercase;
}

.p-explo {
  margin-top: -55%;
  padding-left: 58%;
}

.p-orange {
  font-family: Poppins;
  font-size: 18px;
  color: #fe5303;
  text-align: right;
  margin-top: -8%;
}

.h1-big-orange::first-line {
  color: #2c3f58;
}

.h1-big-orange {
  font-family: PlayFairDisplay;
  font-size: 4rem;
  font-weight: bold;
  color: #fe5303;
}

.bg-darker {
  background-color: rgba(244, 244, 244, 0.6);
  width: 100%;
}

.homepage-card {
  background: #fff;
  border-radius: 6px;
  display: inline-block;
  padding: 5px 20px;
  position: relative;
  width: 400px;
}

.card-1 {
  box-shadow: 0 24px 64px 0 rgba(169, 172, 181, 0.06);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.p-title {
  font-family: PlayfairDisplay;
  font-size: 1.5rem;
  font-weight: bold;
  color: #2c3f58;
}

.p-desc {
  font-family: PlayfairDisplay;
  font-size: 1.125rem;
  color: #2c3f58;
}

.p-author p {
  font-family: Poppins;
  font-size: 1rem;
  color: #2c3f58;
  line-height: 1.8;
}

.p-country {
  font-family: Poppins;
  font-size: 14px;
  color: #a9acb5;
  padding-left: 8%;
}

.fa-user {
  color: grey;
  padding-right: 5%;
}

.homepage-card-orange {
  background: #fe5303;
  border-radius: 6px;
  display: inline-block;
  padding: 5px 20px;
  position: relative;
  width: 100%;
  padding-bottom: 5%;
}

.h1-3rem {
  color: white;
  font-size: 3rem;
  font-family: PlayFairDisplay;
  padding-left: 5%;
}

.p-bandeau {
  padding-left: 5%;
  padding-right: 45%;
  font-family: Poppins;
  font-size: 1rem;
  color: white;
  font-weight: lighter;
}

.btn-orange-homepage button {
  margin-top: -10%;
}

@media screen and (max-width: 600px) {
  .homepage-card {
    width: 350px;
    padding: 2px 2px;
  }

  .col-xs-9 {
    padding: 0;
  }
}
.blog-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.blog-list li a {
  display: block;
  font-family: Poppins;
  font-size: 16px;
  text-decoration: none;
  padding: 15px;
  color: #2c3f58;
  font-weight: 600;
}

.blog-list li a:hover {
  color: #fe5303;
}

.blog-list li {
  float: left;
}

.rooms-card {
  background: #fff;
  border-radius: 6px;
  display: inline-block;
  position: relative;
  width: 370px;
  /* padding-right: 20px; */
}

/*.card-2 {
    box-shadow: 0 24px 64px 0 rgba(169, 172, 181, 0.06);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-2:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    /* box-shadow: 0 24px 64px 0 rgba(44, 63, 88, 0.06), 0 1px 0 0 rgba(44, 63, 88, 0.02); 
} */
.p-loca {
  font-family: Poppins;
  font-size: 14px;
  color: #72809d;
  font-weight: lighter;
  padding-left: 30px;
}

.rooms-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0 15px;
  overflow: hidden;
}

.rooms-list li {
  display: block;
  font-family: Poppins;
  font-size: 14px;
  text-decoration: none;
  padding: 15px;
  color: #72809d;
  float: left;
}

.rooms-item {
  display: block;
  margin: 15px 0;
}

.rooms-item:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bottom-left {
  position: absolute;
  bottom: -180px;
  left: 115px;
  width: 400px;
  height: 137px;
  background-color: white;
}

.bottom-left h2 {
  font-size: 2rem;
  font-family: PlayFairDisplay;
  color: #2c3f58;
  font-weight: bold;
  padding-left: 32px;
}

.rooms-night {
  font-family: Poppins;
  font-size: 1.125rem;
  color: #2c3f58;
  bottom: 55px;
  left: 115px;
  width: 400px;
  height: 137px;
}

.card-list ul {
  list-style-type: none;
  /* margin: 0;
  padding: 0 15px; */
  overflow: hidden;
  margin-top: -40px;
  margin-left: -50px;
}

.card-list li {
  display: block;
  font-family: Poppins;
  font-size: 14px;
  text-decoration: none;
  padding: 15px;
  color: #72809d;
  float: left;
}

.card-list-price {
  font-family: Poppins;
  font-size: 32px;
  color: #2c3f58;
}

.card-list li p {
  padding-top: 10px;
}

@media screen and (max-width: 600px) {
  .rooms-card {
    width: 350px;
    padding: 2px 2px;
  }

  img {
    width: 345px;
  }

  .bottom-left {
    display: none;
  }
}
img {
  max-width: 100%;
  width: 100%;
}

.item {
  display: block;
  margin: 15px 0;
}

.nom-item {
  padding: 0 1.5rem 1.2rem;
  position: absolute;
  bottom: 0;
  transform: translate3d(0, 100%, 0);
  transition: all 0.4s ease-in-out;
  z-index: 2;
}

.gallery-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.gallery-list li a {
  display: block;
  font-family: Poppins;
  font-size: 16px;
  text-decoration: none;
  padding: 15px;
  color: #2c3f58;
}

.gallery-list li a:hover {
  color: #fe5303;
}

.gallery-list li {
  float: left;
}

.item .gallery-title {
  position: absolute;
  bottom: 380px;
  left: 30px;
  color: #fff;
  transition: all ease-in-out 0.5s;
  font-family: "Noto Sans", sans-serif;
}
.item .gallery-description {
  position: absolute;
  left: 30px;
  right: 30px;
  color: #fff;
  font-family: "Sanchez", serif;
  font-size: 0.8em;
}
.item:hover {
  background: #333;
}
.item:hover img {
  opacity: 0.3;
}
.item:hover .gallery-title {
  bottom: 30%;
  font-family: PlayfairDisplay;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
}
.item:hover .gallery-description {
  display: block;
  animation-name: slide-up;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
  font-family: PlayfairDisplay;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

@keyframes slide-up {
  0% {
    bottom: 0;
    opacity: 0;
  }
  100% {
    bottom: 15%;
    opacity: 1;
  }
}
.align-right {
  padding-left: 120px;
}

.about-us-line {
  height: 1px;
  background-color: rgba(169, 172, 181, 0.2);
}

.bottom-right {
  position: absolute;
  width: 505px;
  height: 120px;
  background-color: white;
  margin-left: 1050px;
  margin-top: -119px;
  border-radius: 6px;
}

.bottom-right h2 {
  padding: 34px 70px;
}

.bottom-right p {
  padding-left: 70px;
  margin-top: -34px;
}

.p-14 {
  font-family: Poppins;
  font-size: 14px;
  color: #72809d;
}

.p-18 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  color: #2c3f58;
}

.h1-center {
  text-align: center;
}

.item2 {
  display: block;
  margin: 15px 0;
}

.h2-mid, .p-12 {
  padding-left: 20px;
}

@media screen and (max-width: 600px) {
  .align-right {
    padding: 0 15px;
  }

  .h2-mid, .p-12 {
    padding-left: 0px;
  }

  .bottom-right {
    display: none;
  }
}
.rooms-v2-card {
  background: #fff;
  border-radius: 6px;
  display: inline-block;
  padding: 5px 20px;
  position: relative;
  width: 740px;
  border: solid 1px rgba(169, 172, 181, 0.2);
}

.p-card10 {
  font-family: Poppins;
  font-size: 16px;
  color: rgba(44, 63, 88, 0.8);
}

.rooms-v2-liste {
  font-family: Poppins;
  font-size: 1rem;
  color: #2c3f58;
  font-weight: lighter;
}

/* .go-right {
    width: 370px;
    height: 480px;
}

.rooms-v2-right {
    padding-left: 820px;
    margin-top: -230px;
} */
.rooms-v2-res {
  border: solid 1px rgba(169, 172, 181, 0.2);
  text-align: center;
}

.pagination {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 10px;
}
.pagination li {
  display: inline;
  text-align: center;
}
.pagination a {
  float: left;
  display: block;
  font-size: 1rem;
  font-family: Poppins;
  text-decoration: none;
  padding: 5px 12px;
  color: #2c3f58;
  margin-left: -1px;
  border: 1px solid transparent;
  line-height: 1.5;
}
.pagination a.active {
  cursor: default;
}
.pagination a:active {
  outline: none;
}

.modal-3 a {
  margin-left: 3px;
  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.modal-3 a.active, .modal-3 a:active {
  color: #fe5303;
}

.rooms-v2-bar {
  width: 250px;
  height: 4px;
  border-radius: 2px;
  background-color: #fe5303;
}
.rooms-v2-bar.bar1 {
  width: 220px;
}
.rooms-v2-bar.bar2 {
  width: 205px;
}
.rooms-v2-bar.bar3 {
  width: 230px;
}
.rooms-v2-bar.bar4 {
  width: 195px;
}
.rooms-v2-bar.bar5 {
  width: 205px;
}
.rooms-v2-bar.bar6 {
  width: 220px;
}

@media screen and (max-width: 600px) {
  .rooms-v2-card {
    width: 350px;
    padding: 2px 2px;
  }

  .pagination {
    display: none;
  }

  .go-right {
    display: none;
  }

  .rooms-v2-res {
    display: none;
  }
}
.site__footer {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between; */
}

.site__footer {
  padding-bottom: 0.5em;
  /*padding-left: 5%;
  padding-right: 5%; */
  padding-top: 0.5em;
}

.img-footer {
  width: 119px;
  height: 29px;
  margin-top: 10px;
  margin-left: 25px;
}

.footer-line {
  height: 1px;
  background-color: rgba(169, 172, 181, 0.2);
}

.p-footer {
  font-family: Poppins;
  font-size: 1rem;
  color: #2c3f58;
  padding-left: 2%;
}

.p-footer-line {
  font-family: Poppins;
  font-size: 1rem;
  color: #2c3f58;
  padding-left: 2%;
}

.p-icons-footer {
  font-family: Poppins;
  font-size: 1rem;
  color: #a9acb5;
  padding-left: 60%;
}

.p-icons-footer i {
  padding-left: 20px;
}

@media screen and (max-width: 600px) {
  .img-footer {
    display: none;
  }

  .p-footer-line {
    display: none;
  }

  .p-icons-footer {
    margin-top: -45px;
  }
}
.menu {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: white;
  top: 0;
  position: sticky;
}

header {
  position: fixed;
  width: 100%;
  z-index: 15;
}

.menu li {
  display: inline-block;
  text-align: center;
  /*width: 10%; */
}

.header-li {
  padding-left: 25%;
}

.menu li img {
  padding-left: 25%;
}

.menu a {
  display: block;
  padding: 25px 0;
  text-decoration: none;
  font-family: Poppins;
  font-size: 16px;
  color: #2c3f58;
  font-weight: 600;
}

.sticky {
  top: 0;
  position: fixed;
}

.header-lie {
  padding-left: 10px;
}

.header-li2 {
  padding-left: 20%;
}

.header-button {
  border: none;
  color: white;
  padding: 10px 25px;
  width: 191px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
  background-color: #fe5303;
}

@media screen and (max-width: 600px) {
  .header-button {
    display: none;
  }

  .menu li img {
    display: none;
  }

  .header-li {
    padding-left: 0%;
  }
}
.menu2 {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  top: 0;
  position: sticky;
}

header {
  position: fixed;
  width: 100%;
  z-index: 15;
}

.menu2 li {
  display: inline-block;
  text-align: center;
  /*width: 10%; */
}

.header-li {
  padding-left: 25%;
}

.menu2 li img {
  padding-left: 25%;
}

.menu2 a {
  display: block;
  padding: 25px 0;
  text-decoration: none;
  font-family: Poppins;
  font-size: 16px;
  color: #2c3f58;
  font-weight: 600;
}

.sticky {
  top: 0;
  position: fixed;
}

.header-lie {
  padding-left: 10px;
}

.header-li2 {
  padding-left: 20%;
}

.header-button {
  border: none;
  color: white;
  padding: 10px 25px;
  width: 191px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
  background-color: #fe5303;
}

.header-img {
  position: relative;
}

.menu2-text {
  position: absolute;
  top: 20%;
  left: 10%;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
}

.menu2-bigtext {
  position: absolute;
  top: 25%;
  left: 10%;
  font-family: PlayfairDisplay;
  font-size: 80px;
  font-weight: bold;
  color: #ffffff;
}

.menu2-bigtext2 {
  position: absolute;
  top: 33%;
  left: 10%;
  font-family: PlayfairDisplay;
  font-size: 80px;
  font-weight: bold;
  color: #ffffff;
}

.menu2-liltext {
  position: absolute;
  top: 50%;
  left: 10%;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.menu200-text {
  position: absolute;
  top: 30%;
  left: 45%;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
}

.menu200-bigtext {
  position: absolute;
  top: 33%;
  left: 35%;
  font-family: PlayfairDisplay;
  font-size: 80px;
  font-weight: bold;
  color: #ffffff;
}

.box-100, .box-200, .box-300, .box-400 {
  position: absolute;
}

.box-100 {
  top: 88.5%;
  left: 0%;
  background-color: white;
  padding: 20px;
  width: 400px;
  height: 140px;
}

.box-100-top {
  font-family: Poppins;
  font-size: 12px;
  color: #a9acb5;
  text-transform: uppercase;
  padding-left: 150px;
}

.box-100-down {
  font-family: Poppins;
  font-size: 16px;
  color: #2c3f58;
  padding-left: 150px;
}

.box-200 {
  top: 88.5%;
  left: 20%;
  background-color: white;
  padding: 20px;
  width: 350px;
  height: 140px;
}

.box-200-top {
  font-family: Poppins;
  font-size: 12px;
  color: #a9acb5;
  text-transform: uppercase;
  padding-left: 150px;
}

.box-200-down {
  font-family: Poppins;
  font-size: 16px;
  color: #2c3f58;
  padding-left: 150px;
}

.box-300 {
  top: 88.5%;
  left: 45%;
  background-color: white;
  padding: 20px;
  width: 385px;
  height: 140px;
}

.box-300-top {
  font-family: Poppins;
  font-size: 12px;
  color: #a9acb5;
  text-transform: uppercase;
  padding-left: 150px;
}

.box-300-down {
  font-family: Poppins;
  font-size: 16px;
  color: #2c3f58;
  padding-left: 150px;
}

.box-400 {
  top: 88.5%;
  left: 72.5%;
  background-color: #625ef7;
  padding: 20px;
  width: 270px;
  height: 140px;
}

.box-400-top {
  font-family: Poppins;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  padding-left: 20px;
}

.box-400-down {
  font-family: Poppins;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  padding-left: 20px;
}

@media screen and (max-width: 600px) {
  .header-button {
    display: none;
  }

  .menu2 li img {
    display: none;
  }

  .header-li {
    padding-left: 0%;
  }

  .header-img {
    display: none;
  }
}
.menu2 {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  top: 0;
  position: sticky;
}

header {
  position: fixed;
  width: 100%;
  z-index: 15;
}

.menu2 li {
  display: inline-block;
  text-align: center;
  /*width: 10%; */
}

.header-li {
  padding-left: 25%;
}

.menu2 li img {
  padding-left: 25%;
}

.menu2 a {
  display: block;
  padding: 25px 0;
  text-decoration: none;
  font-family: Poppins;
  font-size: 16px;
  color: #2c3f58;
  font-weight: 600;
}

.sticky {
  top: 0;
  position: fixed;
}

.header-lie {
  padding-left: 10px;
}

.header-li2 {
  padding-left: 20%;
}

.header-button {
  border: none;
  color: white;
  padding: 10px 25px;
  width: 191px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
  background-color: #fe5303;
}

.header-img {
  position: relative;
}

.menu2-text {
  position: absolute;
  top: 20%;
  left: 10%;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
}

.menu2-bigtext {
  position: absolute;
  top: 25%;
  left: 10%;
  font-family: PlayfairDisplay;
  font-size: 80px;
  font-weight: bold;
  color: #ffffff;
}

.menu2-bigtext2 {
  position: absolute;
  top: 33%;
  left: 10%;
  font-family: PlayfairDisplay;
  font-size: 80px;
  font-weight: bold;
  color: #ffffff;
}

.menu2-liltext {
  position: absolute;
  top: 50%;
  left: 10%;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.box-10, .box-20 {
  position: absolute;
}

.box-10 {
  top: 89.5%;
  left: 0%;
  background-color: white;
  padding: 20px;
  width: 400px;
  height: 140px;
}

.box-10-top {
  font-family: Poppins;
  font-size: 12px;
  color: #a9acb5;
  text-transform: uppercase;
  padding-left: 150px;
}

.box-10-down {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  color: #2c3f58;
  padding-left: 150px;
}

.box-20 {
  top: 89.5%;
  left: 25%;
  background-color: white;
  padding: 20px;
  width: 600px;
  height: 140px;
}

.box-20-top {
  font-family: Poppins;
  font-size: 12px;
  color: #a9acb5;
  text-transform: uppercase;
  padding-left: 150px;
}

.box-20-down {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  color: #2c3f58;
  padding-left: 150px;
}

@media screen and (max-width: 600px) {
  .header-button {
    display: none;
  }

  .menu2 li img {
    display: none;
  }

  .header-li {
    padding-left: 0%;
  }
}
.menu2 {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  top: 0;
  position: sticky;
}

header {
  position: fixed;
  width: 100%;
  z-index: 15;
}

.menu2 li {
  display: inline-block;
  text-align: center;
  /*width: 10%; */
}

.header-li {
  padding-left: 25%;
}

.menu2 li img {
  padding-left: 25%;
}

.menu2 a {
  display: block;
  padding: 25px 0;
  text-decoration: none;
  font-family: Poppins;
  font-size: 16px;
  color: #2c3f58;
  font-weight: 600;
}

.sticky {
  top: 0;
  position: fixed;
}

.header-lie {
  padding-left: 10px;
}

.header-li2 {
  padding-left: 20%;
}

.header-button {
  border: none;
  color: white;
  padding: 10px 25px;
  width: 191px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
  background-color: #fe5303;
}

.header-img {
  position: relative;
}

.menu2-text {
  position: absolute;
  top: 20%;
  left: 10%;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
}

.menu2-bigtext {
  position: absolute;
  top: 25%;
  left: 10%;
  font-family: PlayfairDisplay;
  font-size: 80px;
  font-weight: bold;
  color: #ffffff;
}

.menu2-bigtext2 {
  position: absolute;
  top: 33%;
  left: 10%;
  font-family: PlayfairDisplay;
  font-size: 80px;
  font-weight: bold;
  color: #ffffff;
}

.menu2-liltext {
  position: absolute;
  top: 50%;
  left: 10%;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.box-1, .box-2, .box-3, .box-4 {
  position: absolute;
}

.box-1 {
  top: 89.5%;
  left: 0%;
  background-color: white;
  padding: 20px;
  width: 400px;
  height: 140px;
}

.box-1-top {
  font-family: Poppins;
  font-size: 12px;
  color: #a9acb5;
  text-transform: uppercase;
  padding-left: 150px;
}

.box-1-down {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  color: #2c3f58;
  padding-left: 150px;
}

.box-2 {
  top: 89.5%;
  left: 25%;
  background-color: white;
  padding: 20px;
  width: 350px;
  height: 140px;
}

.box-2-top {
  font-family: Poppins;
  font-size: 12px;
  color: #a9acb5;
  text-transform: uppercase;
  padding-left: 150px;
}

.box-2-down {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  color: #2c3f58;
  padding-left: 150px;
}

.box-3 {
  top: 89.5%;
  left: 45%;
  background-color: white;
  padding: 20px;
  width: 350px;
  height: 140px;
}

.box-3-top {
  font-family: Poppins;
  font-size: 12px;
  color: #a9acb5;
  text-transform: uppercase;
  padding-left: 150px;
}

.box-3-down {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  color: #2c3f58;
  padding-left: 150px;
}

.box-4 {
  top: 89.5%;
  left: 65%;
  background-color: #fe5303;
  padding: 20px;
  width: 300px;
  height: 140px;
}

.box-4-top {
  font-family: Poppins;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  padding-left: 150px;
}

.box-4-down {
  font-family: Poppins;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  padding-left: 150px;
}

@media screen and (max-width: 600px) {
  .header-button {
    display: none;
  }

  .menu2 li img {
    display: none;
  }

  .header-li {
    padding-left: 0%;
  }
}
.menu404-text {
  position: absolute;
  top: 30%;
  left: 20%;
  font-family: PlayfairDisplay;
  font-size: 600px;
  font-weight: 1000;
  color: #ffffff;
  text-transform: uppercase;
}

.menu404-bigtext {
  position: absolute;
  top: 80%;
  left: 45%;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  color: #ffffff;
}

.menu404-bigtext2 {
  position: absolute;
  top: 85%;
  left: 45%;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  color: #ffffff;
  border-radius: 24px;
  border: solid 2px rgba(255, 255, 255, 0.2);
  padding: 10px;
}

/* Layout */
* {
  box-sizing: border-box;
}

.container {
  padding-top: 50px;
}
/*# sourceMappingURL=style.css.map */