.text-btn {
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
  }
  
  .btn-orange {
    border: none;
    color: #fe5303;
    overflow: hidden;
    margin: 1rem;
    padding: 0;
    text-transform: uppercase;
    width: 200px;
    height: 50px;
    border-radius: 32px;
    float: right;
  }
  

.blog-button {
  background-color: #fe5303;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Poppins;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 24px;
}


.btn-chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  z-index: 9999;
  text-align: center;
}
.btn-chat:before {
  content: "";
  width: 50px;
  height: 50px;
  background-color: white;
  position: absolute;
  border-radius: 100%;
  box-shadow: 0 64px 64px 0 rgba(44, 63, 88, 0.05), 0 0 32px 0 rgba(44, 63, 88, 0.05), 0 16px 16px 0 rgba(44, 63, 88, 0.03), 0 8px 8px 0 rgba(44, 63, 88, 0.03), 0 4px 4px 0 rgba(44, 63, 88, 0.03), 0 2px 2px 0 rgba(44, 63, 88, 0.04);
  z-index: 1;
  top: 0;
  left: 0;
}
.btn-chat i {
  vertical-align: middle;
  z-index: 2;
  position: relative;
  width: 34px;
  height: 34px;
  color: #fe5303;
  padding: 8px;
}
  