.menu {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
    top: 0;
    position: sticky;
}

header {
    position: fixed;
    width: 100%;
    z-index: 15;
}

.menu li {
    display: inline-block;
    text-align: center;
    /*width: 10%; */
}

.header-li {
    padding-left: 25%;
}

.menu li img {
    padding-left: 25%;
}

.menu a {
    display: block;
    padding: 25px 0;
    text-decoration: none;
    font-family: Poppins;
    font-size: 16px;
    color: #2c3f58;
    font-weight: 600;
}

.sticky {
    top: 0;
    position: fixed;
}

.header-lie {
    padding-left: 10px;
}

.header-li2 {
    padding-left: 20%;
}
  .header-button {
    border: none;
    color: white;
    padding: 10px 25px;
    width: 191px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
    background-color: #fe5303;
  }



  @media screen and (max-width: $sm) {
    .header-button {
        display: none;
    }
    .menu li img {
       display: none;
    }
    .header-li {
        padding-left: 0%;
    }
    
  }