.menu2 {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: transparent;
    top: 0;
    position: sticky;
}

header {
    position: fixed;
    width: 100%;
    z-index: 15;
}

.menu2 li {
    display: inline-block;
    text-align: center;
    /*width: 10%; */
}

.header-li {
    padding-left: 25%;
}

.menu2 li img {
    padding-left: 25%;
}

.menu2 a {
    display: block;
    padding: 25px 0;
    text-decoration: none;
    font-family: Poppins;
    font-size: 16px;
    color: #2c3f58;
    font-weight: 600;
}

.sticky {
    top: 0;
    position: fixed;
}

.header-lie {
    padding-left: 10px;
}

.header-li2 {
    padding-left: 20%;
}
  .header-button {
    border: none;
    color: white;
    padding: 10px 25px;
    width: 191px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
    background-color: #fe5303;
  }



.header-img {
    position: relative;
}

.menu2-text {
    position: absolute;
    top: 20%;
    left: 10%;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
}
.menu2-bigtext {
    position: absolute;
    top: 25%;
    left: 10%;
    font-family: PlayfairDisplay;
    font-size: 80px;
    font-weight: bold;
    color: #ffffff;

}

.menu2-bigtext2 {
    position: absolute;
    top: 33%;
    left: 10%;
    font-family: PlayfairDisplay;
    font-size: 80px;
    font-weight: bold;
    color: #ffffff;

}

.menu2-liltext {
    position: absolute;
    top: 50%;
    left: 10%;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}



.menu200-text {
    position: absolute;
    top: 30%;
    left: 45%;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
}

.menu200-bigtext {
    position: absolute;
    top: 33%;
    left: 35%;
    font-family: PlayfairDisplay;
    font-size: 80px;
    font-weight: bold;
    color: #ffffff;

}






.box-100, .box-200, .box-300, .box-400 {
    position: absolute;
}

.box-100 {
    top: 88.5%;
    left: 0%;
    background-color: white;
    padding: 20px;
    width: 400px;
    height: 140px;

}
.box-100-top {
    font-family: Poppins;
  font-size: 12px;
  color: #a9acb5;
  text-transform: uppercase;
  padding-left: 150px;
}

.box-100-down {
    font-family: Poppins;
    font-size: 16px;
    color: #2c3f58;
  padding-left: 150px;

}

.box-200 {
    top: 88.5%;
    left: 20%;
    background-color: white;
    padding: 20px;
    width: 350px;
    height: 140px;

}


.box-200-top {
    font-family: Poppins;
  font-size: 12px;
  color: #a9acb5;
  text-transform: uppercase;
  padding-left: 150px;
}

.box-200-down {
    font-family: Poppins;
    font-size: 16px;
    color: #2c3f58;
  padding-left: 150px;

}


.box-300 {
    top: 88.5%;
    left: 45%;
    background-color: white;
    padding: 20px;
    width: 385px;
    height: 140px;

}
.box-300-top {
    font-family: Poppins;
  font-size: 12px;
  color: #a9acb5;
  text-transform: uppercase;
  padding-left: 150px;
}

.box-300-down {
    font-family: Poppins;
    font-size: 16px;
    color: #2c3f58;
  padding-left: 150px;

}


.box-400 {
    top: 88.5%;
    left: 72.5%;
    background-color: #625ef7;
    padding: 20px;
    width: 270px;
    height: 140px;

}
.box-400-top {
    font-family: Poppins;
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 20px;
}

.box-400-down {
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    padding-left: 20px;

}






  @media screen and (max-width: $sm) {
    .header-button {
        display: none;
    }
    .menu2 li img {
       display: none;
    }
    .header-li {
        padding-left: 0%;
    }
    .header-img {
        display: none;
    }
    
  }