.menu2 {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: transparent;
    top: 0;
    position: sticky;
}

header {
    position: fixed;
    width: 100%;
    z-index: 15;
}

.menu2 li {
    display: inline-block;
    text-align: center;
    /*width: 10%; */
}

.header-li {
    padding-left: 25%;
}

.menu2 li img {
    padding-left: 25%;
}

.menu2 a {
    display: block;
    padding: 25px 0;
    text-decoration: none;
    font-family: Poppins;
    font-size: 16px;
    color: #2c3f58;
    font-weight: 600;
}

.sticky {
    top: 0;
    position: fixed;
}

.header-lie {
    padding-left: 10px;
}

.header-li2 {
    padding-left: 20%;
}
  .header-button {
    border: none;
    color: white;
    padding: 10px 25px;
    width: 191px;
    height: 48px;
    border-radius: 24px;
    box-shadow: 0 16px 48px 0 rgba(254, 83, 3, 0.16);
    background-color: #fe5303;
  }



.header-img {
    position: relative;
}

.menu2-text {
    position: absolute;
    top: 20%;
    left: 10%;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
}
.menu2-bigtext {
    position: absolute;
    top: 25%;
    left: 10%;
    font-family: PlayfairDisplay;
    font-size: 80px;
    font-weight: bold;
    color: #ffffff;

}

.menu2-bigtext2 {
    position: absolute;
    top: 33%;
    left: 10%;
    font-family: PlayfairDisplay;
    font-size: 80px;
    font-weight: bold;
    color: #ffffff;

}

.menu2-liltext {
    position: absolute;
    top: 50%;
    left: 10%;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

.box-10, .box-20,  {
    position: absolute;
}

.box-10 {
    top: 89.5%;
    left: 0%;
    background-color: white;
    padding: 20px;
    width: 400px;
    height: 140px;

}
.box-10-top {
    font-family: Poppins;
  font-size: 12px;
  color: #a9acb5;
  text-transform: uppercase;
  padding-left: 150px;
}

.box-10-down {
    font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  color: #2c3f58;
  padding-left: 150px;

}

.box-20 {
    top: 89.5%;
    left: 25%;
    background-color: white;
    padding: 20px;
    width: 600px;
    height: 140px;

}


.box-20-top {
    font-family: Poppins;
  font-size: 12px;
  color: #a9acb5;
  text-transform: uppercase;
  padding-left: 150px;
}

.box-20-down {
    font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  color: #2c3f58;
  padding-left: 150px;

}



  @media screen and (max-width: $sm) {
    .header-button {
        display: none;
    }
    .menu2 li img {
       display: none;
    }
    .header-li {
        padding-left: 0%;
    }
    
  }