.menu404-text {
    position: absolute;
    top: 30%;
    left: 20%;
    font-family: PlayfairDisplay;
    font-size: 600px;
    font-weight: 1000;
    color: #ffffff;
    text-transform: uppercase;
}

.menu404-bigtext {
    position: absolute;
    top: 80%;
    left: 45%;
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    color: #ffffff;

}

.menu404-bigtext2 {
    position: absolute;
    top: 85%;
    left: 45%;
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    color: #ffffff;
    border-radius: 24px;
    border: solid 2px rgba(255, 255, 255, 0.2);
    padding: 10px; 

}