.rooms-card {
    background: #fff;
    border-radius: 6px;
    display: inline-block;
    position: relative;
    width: 370px;
    /* padding-right: 20px; */
}
  
/*.card-2 {
    box-shadow: 0 24px 64px 0 rgba(169, 172, 181, 0.06);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
  
.card-2:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    /* box-shadow: 0 24px 64px 0 rgba(44, 63, 88, 0.06), 0 1px 0 0 rgba(44, 63, 88, 0.02); 
} */
  
.p-loca {
    font-family: Poppins;
    font-size: 14px;
    color: #72809d;
    font-weight: lighter;
    padding-left: 30px;
}

.rooms-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0 15px;
    overflow: hidden;
}

.rooms-list li {
    display: block;
    font-family: Poppins;
    font-size: 14px;
    text-decoration: none;
    padding: 15px;
    color: #72809d;
    float: left;
}

.rooms-item {
	display: block;
	margin:15px 0;
}

.rooms-item:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.bottom-left {
    position: absolute;
    bottom: -180px;
    left: 115px;
    width: 400px;
    height: 137px;
    background-color: white;
}

.bottom-left h2 {
    font-size: 2rem;
    font-family: PlayFairDisplay;
    color: #2c3f58;
    font-weight: bold;
    padding-left: 32px;
}

.rooms-night {
    font-family: Poppins;
    font-size: 1.125rem;
    color: #2c3f58;
    bottom: 55px;
    left: 115px;
    width: 400px;
    height: 137px;
     
}


.card-list ul {
    list-style-type: none;
    /* margin: 0;
    padding: 0 15px; */
    overflow: hidden;
    margin-top: -40px;
    margin-left: -50px;
}

.card-list li {
    display: block;
    font-family: Poppins;
    font-size: 14px;
    text-decoration: none;
    padding: 15px;
    color: #72809d;
    float: left;
}

.card-list-price {
  font-family: Poppins;
  font-size: 32px;
  color: #2c3f58;
}

.card-list li p {
  padding-top: 10px;
}


@media screen and (max-width: $sm) {
    .rooms-card {
        width: 350px;
        padding: 2px 2px;
    }
    img {
        width: 345px;
    }

    .bottom-left {
        display: none;
    }
  }