.rooms-v2-card {
    background: #fff;
    border-radius: 6px;
    display: inline-block;
    padding: 5px 20px;
    position: relative;
    width: 740px;
    border: solid 1px rgba(169, 172, 181, 0.2);
}
  
.p-card10 {
    font-family: Poppins;
    font-size: 16px;
    color: rgba(44, 63, 88, 0.8);
}


.rooms-v2-liste {
    font-family: Poppins;
    font-size: 1rem;
    color: #2c3f58;
    font-weight: lighter;
}

 /* .go-right {
    width: 370px;
    height: 480px;
}

.rooms-v2-right {
    padding-left: 820px;
    margin-top: -230px;
} */

.rooms-v2-res {
    border: solid 1px rgba(169, 172, 181, 0.2);
    text-align: center;
}

.pagination{
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 10px;
    li{
      display: inline;
      text-align: center;
    }
    a{
      float: left;
      display: block;
      font-size: 1rem;
      font-family: Poppins;
      text-decoration: none;
      padding: 5px 12px;
      color:#2c3f58;
      margin-left: -1px;
      border:1px solid transparent;
      line-height: 1.5;
      &.active{  cursor: default;}
      &:active{ outline: none;}
    }
  }
  
    .modal-3{
      a{
        margin-left: 3px;
        padding: 0;
        width: 30px;
        height: 30px;
        line-height: 30px;
         &.active, &:active{
           color: #fe5303;
         }
      }
}

.rooms-v2-bar {
    width: 250px;
    height: 4px;
    border-radius: 2px;
    background-color: #fe5303;

    &.bar1 {
        width: 220px;
    }
    &.bar2 {
        width: 205px;
    }
    &.bar3 {
        width: 230px;
    }
    &.bar4 {
        width: 195px;
    }
    &.bar5 {
        width: 205px;
    }
    &.bar6 {
        width: 220px;
    }
}


@media screen and (max-width: $sm) {
    .rooms-v2-card {
        width: 350px;
        padding: 2px 2px;
    }

    .pagination {
        display: none;
    }

    .go-right {
        display: none;
    }
    .rooms-v2-res {
        display: none;
    }
  }